html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
@media (max-width: 720px){
  .scrollup::-webkit-scrollbar {
    width: 3px;
  }

}


::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #888; 
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 


/* handle tap color at mobile devices */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: blue;
}


.ck-content blockquote,
.ck-content dl,
.ck-content dd,
.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6,
.ck-content hr,
.ck-content figure,
.ck-content p,
.ck-content pre {
  margin: revert;
}

h2, h3, h4, h5, h6, p, li {
  color: rgba(55, 65, 81, .98)
}

.ck-content img {
  /* width: 100% !important; */
  height: 100% !important;
}

.ck-content ol,
.ck-content ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content table {
  border-collapse: revert;
}

.ck-content td, .ck-content tr {
  /* text-align: center; */
  padding-left: 6px;
}

.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
  font-size: revert;
  font-weight: revert;
}